@use "../../styles/variables" as v;

footer {
  background-color: v.$color2;
  padding-top: 100px;
  padding-bottom: 100px;
  color: v.$color5;

  a.nav-link {
    padding: 8px 0px;
    color: v.$color5;
  }
}
