@use "../../../../styles/variables" as v;

.admin-report-container {
  background-color: v.$color5-light;
  width: 90% !important;
  padding-right: 0 !important;
  object-fit: cover;
  margin: 0;
  margin-left: 35px;
  padding-left:0;

  .admin-report-form-row {
    width: 100%;
    padding: 0;
    margin: 0;
    .admin-report-form-col {
      .admin-report-form {
        padding: 20px;
        width: 100%;
        
        .admin-report-title-row {
          width: 100%;
          display: block;
          .admin-report-title {
            font-weight: 500;
            font-size: large;
            display: block !important;
            margin-left: 5px;
          }
        }
        .admin-report-form-row {
          width: 100%;
        
         
          
          .form-group {
            flex: 0 0 160px;
            flex-direction: column;
            align-items: center;
            padding: 0 5px;
         
            .form-control {
              flex: 0 0 130px;
              display: flex;
              align-items: start;
              border: 0;
              border-bottom: 2px solid v.$color7;
            }
            .form-select {
              flex: 0 0 150px;
              display: flex;
              align-items: center;
              margin-right: 2px;
              border: 0;
              border-bottom: 2px solid v.$color7;
              padding: 6px;
            }
          }
        }
      }
    }
    .admin-report-form-icon-col {
      background-color: v.$color5;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 15px;
      min-width: 50px;

      svg {
        width: 50px;
        height: auto;
        max-width: 100px;
        min-width: 50px;
      
      }
    }
  }
}
