@use "../../../../styles/variables" as v;
//advert types new
.advert-types-new {
  width: 50% !important;
  form {
    input {
      background-color: v.$color5;
    }
    .advert-types-new-button {
      display: flex;
      justify-content: flex-end;
    }
  }
}
//advert types edit
.advert-types-edit {
  width: 50% !important;
  form {
    input {
      background-color: v.$color5;
    }
    .advert-types-edit-btn-group {
      @media screen and (max-width: 432px) {
        margin-top: 50px;
      }
      display: flex;
      justify-content: end;
      gap: 10px;
      .delete-btn {
        color: white;
        width: 70%;
        @media screen and (min-width: "1200px") {
          width: 35%;
        }
      }
    }
  }
}
//advert types page
.advert-types-page {
  width: 70% !important;
  .advert-types-page-search-div {
    @media screen and (max-width: 500px) {
      display: block;
      .search-input {
        margin-bottom: 10px;
        width: 100% !important;
      }
      .add-new-btn {
        width: 100%;
        font-size: 15px;
        padding: 10px 15px;
      }
      .search-icon {
        right: 0 !important;
      }
    }
    display: flex;
    align-items: center;
    position: relative;
    .search-input {
      display: flex;
      align-items: center;
      width: 75%;
      input {
        border-radius: 20px;
        padding: 15px;
        width: 100%;
      }
      .search-icon {
        margin-left: 10px;
        padding: 15px;
        border-radius: 20px;
        position: absolute;
        right: 25%;
      }
    }
    .add-new-btn {
      padding: 15px;
      border-radius: 20px;
      margin-left: 5px;
      @media screen and (max-width: 856px) {
        padding: 15px 8px;
      }
    }
  }
  .table-data {
    .table-header {
      width: 85%;
      padding: 20px 30px;
      display: flex;
      justify-content: space-between;
    }
    .table-rows {
      display: flex;
      align-items: center;
      @media screen and (max-width: 1200px) {
        width: 90%;
      }
      width: 85%;
      background-color: v.$color5;
      border-radius: 15px;
      padding: 15px 30px;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      .btn-div {
        display: flex;
        button {
          background: none;
          border: none;
          color: v.$color1;
          font-size: 25px;
          &:hover {
            color: v.$color2;
            cursor: pointer;
          }
        }
      }
      @media screen and (max-width: 500px) {
        .btn-div {
          button {
            padding: 0 2px;
            font-size: 20px;
            margin-left: 8px;
          }
        }
      }
    }
  }
}
//admin advert edit page
.admin-advert-edit-form {
  .button-component {
    display: flex;
    justify-content: end;
    gap: 10px;
    .delete-btn {
      background-color: v.$color2-light;
      width: 30% !important;
      @media screen and (max-width: "1050px") {
        width: 60% !important;
      }
      @media screen and (max-width: "765px") {
        width: 90% !important;
      }
    }
  }
}
//admin adverts page
.admin-adverts-page {
  width: 85% !important;
  .adverts-page-search-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
//admin user info
.admin-user-info {
  width: 70% !important;
  background-color: gray;
  border-radius: 15px;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  color: white;
  .row {
    @media screen and (max-width: 590px) {
      font-size: 18px;
      display: block;
      text-align: center;
    }
  }
}
//FieldSet
.p-fieldset-legend {
  position: relative;
  float: none !important;
  // width: unset;
  width: 180px;
  a {
    font-size: 20px;
    background-color: v.$color6;
    color: v.$color1;
    text-decoration: none;
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: 20px solid v.$color2-light;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }
}
.p-toggleable-content {
  content: none;
  min-width: 375px;
  border: 1px solid v.$color2-light;
  border-radius: 10px;
}