@use "../../../../styles/variables" as v;

.advert-detail-page-header {
  background-color: v.$color4;
  margin-top: 20px;
  border-radius: 15px;
  padding: 20px;
  margin: 0;

  .advert-detail-title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 30px;
    margin-bottom: 8px;
    margin-top: 0;
  }
  .advert-detail-info {
    font-size: 1rem;
    width: 100% !important;
    margin: 0 !important;

    .advert-detail-info-col {
      .advert-detail-col {
        margin-bottom: 8px;
        display: inline-block;
      }
      .advert-detail-col svg {
        margin-right: 4px;
        color: v.$color1 !important;
      }
    }

    .advert-detail-price {
      font-weight: 600;
      font-size: 30px;

      text-align: end !important;
      margin-right: 10px;
      width: 100px;
      max-width: 100px;
      @media screen and (max-width: 992px) {
        font-size: 1.5rem;
      }
      @media screen and (max-width: 770px) {
        font-size: 1.4rem;
      }
      @media screen and (max-width: 400px) {
        font-size: 1.2rem;
      }
    }
  }
}
