@use "../../../../styles/variables" as v;

.admin-user-edit-container{
  width: 100%;
    
   
    .admin-user-edit-form{
   margin-left:45px;
        .admin-user-edit-input-group-first-row{
            position: relative;
            width: 560px !important; 
            @media screen and (max-width: 440px) {
                width:300px !important;
                margin-left: 10px;
              }
            .admin-user-edit-input{
                
                border: 0;
                border-bottom: 1px solid v.$color5;
                min-width: 150px !important;
                background-color: v.$color5-light;
            }
            .invalid-feedback {
                font-size: 0.9rem;
                font-weight: normal;
                position: absolute;
                bottom: -20px;
                right: -12px;
                color: rgb(232, 63, 2);
              }
              .is-valid{
                border-color:v.$color6;
              }
        }
        .admin-user-edit-input-group{
           
            position: relative;
           
            width: 373px !important;
            @media screen and (max-width: 440px) {
                width:300px !important;
                margin-left: 10px;

              }
            .admin-user-edit-input{
                border: 0;
                border-bottom: 1px solid v.$color5;
                border-radius: 0 !important;
                background-color: v.$color5-light;
                min-width: 150px !important;
               
            }
            .invalid-feedback {
                font-size: 0.9rem;
                font-weight: normal;
                position: absolute;
                bottom: -20px;
                right: -12px;
                color: rgb(232, 63, 2);
              }
              .is-valid{
                border-color:v.$color6;
              }
        }
.admin-user-button-row{
    display: flex;
    justify-content: end;
    margin-right: 95px;
    .admin-user-button-delete{
        width: 150px;
        border-radius: 7px;
        margin-right: 5px;
        background-color: v.$color9;
        border: 0;
    }.admin-user-button-save{
        width: 150px;
        border-radius: 7px;
        background-color: v.$color1;
        border:0;
    }
}

        
    }
}