@use "./variables.scss" as v;

.p-toast-icon-close {
  border-radius: 50%;
}

.p-dialog{

  min-width: 400px;

  .p-dialog-content{

    svg{
      color: v.$color1;
    }
  }


  .p-dialog-footer{

    
    .p-confirm-dialog-reject{
          border-radius: 0.5rem;
          background-color: v.$color2;
          outline : none;
          border: none;
          color: white!important;
          margin-right: 10px;

          &:hover{
            color: v.$color1!important;
          }



      }
      .p-confirm-dialog-accept{
          border-radius: 0.5rem;
          background-color: v.$color1;
          outline: none;
          border: none;

          button:focus:not(:focus-visible) {
              outline: 0;
          }
          
          &:focus{
            box-shadow: none;
            
          }

          &:hover{
            color: v.$color2;
          }
      }
  }

 

}

.p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover .p-inputswitch-slider{
  background: v.$color-success-dark;
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider{
  background: v.$color-success-dark;
}

.check-switch {
  text-align: center;

  .custom-switch {
    font-size: 30px;
  }
}